page-add-deal {
    .title-section-deal{
        background-color: #dfdfdf;
        color: cornflowerblue;
        height: 3em;
        display: flex!important;
        align-items: center!important;
    }
}

